# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout

# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# Archives & signing
*.xcarchive
*.ipa
*.mobileprovision
*.p12
__pycache__/
